.heading-container {
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 2rem;
  font-weight: 900;
  &__heading {
    display: inline-block;
    margin-bottom: 0.5rem;
    line-height: 1;
    font-size: 2.5rem;

    @include respond(xs) {
      font-size: 2rem;
    }
  }
}

.sub-heading {
  padding-inline-start: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 2rem;

  @include respond(xs) {
    font-size: 1.3rem;
  }
}
