.page-container {
  display: flex;
  position: relative;
  overflow: hidden;
  padding-top: 2rem;
  padding-bottom: 2rem;
  &__aside {
    padding-top: 2rem;
    width: 0;
    transform: translateX(-100rem);
    transition: all 0.5s ease-in-out;
    @include respond(sm) {
      position: absolute;
      top: 0;
      left: -100%;
      z-index: 1000;
      padding: 0 1rem;
      background: $grey-500;
      border-bottom: 2px solid $clr-primary-hover;
      border-top: 2px solid $clr-primary-hover;
    }
    @include respond(xs) {
    }
    &.active {
      transform: translateX(0);
      width: 12.5rem;
      @include respond(md) {
        width: 11.25rem;
      }
      @include respond(sm) {
        left: 0;
        width: 100%;
        transform: translateX(0);
      }
    }
  }

  &__content {
    padding: 2rem 1rem;
    background-color: $white-900;
    transition: all 0.5s ease-in-out;
    will-change: width;
    border-radius: 3rem;
    height: fit-content;
    width: 100%;
    @include respond(md) {
      border-radius: 2rem;
    }
    @include respond(sm) {
      border-radius: 1rem;
    }
    &.active {
      width: calc(100% - 12.5rem);
      @include respond(sm) {
        width: 100%;
      }
    }
  }
}
