.receipt {
  padding: 3rem;
  font-size: 0.9rem;
  display: none;

  @media print {
    display: block;
  }
  &__logo {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 1.5px solid $dark-900;
    padding-bottom: 1rem;

    img {
      width: 3rem;
    }

    h2 {
      width: fit-content;
      margin: auto;
      font-size: 1.6rem;
      @extend .text-cap;
    }
  }

  &__container {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1.5px solid $dark-900;
  }

  &__box {
    display: flex;
    align-items: center;
    > div {
      width: calc(50% / 2);
    }

    > div:nth-child(1) {
      width: 50%;
    }

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  > div:last-child {
    margin-top: 1rem;
  }
}
